/* Setting Text Size so that 1rem = 10px; */
html {
  font-size: 62.5%;
}

body {
  background-color: gainsboro;
  /* font-family: "Jomhuria", cursive; */
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 5rem;
  border-top: solid white 3px;
  border-bottom: solid white 3px;
  background-color: orange;
}

.style-headline {
  font-size: xx-large;
  color: white;
}

.style-countdown {
  font-size: x-large;
  color: white;
}

.row-container {
  display: flex;
  justify-content: center;
}

.start-screen {
  border: black 3px solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.start-button {
  width: 100px;
  height: 100px;
  background-color: lightsteelblue;
  margin-top: 30px;
}

.column-container {
  flex: 1 0 100%;
  text-align: center;
}

.question-card {
  height: 80rem;
  width: 70rem;
  margin-top: 3rem;
  border: white solid 3px;
  display: none;
}

.question-header {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: orange;
  border-bottom: solid white 3px;
  align-items: center;
  font-size: xx-large;
  color: white;
  font-weight: bold;
}

.question-number {
  display: block;
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.question-text {
  height: 15rem;
  width: 90%;
  border: dashed 3px black;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: xx-large;
}

.answer-button {
  display: block;
  width: 80%;
  height: 10rem;
  margin-top: 1rem;
  margin-left: 7.5rem;
  background-color: lightsteelblue;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.results-button {
  display: none;
  width: 80%;
  height: 10rem;
  margin-top: 1rem;
  margin-left: 7.5rem;
  background-color: tan;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.game-over {
  border: black 3px solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  display: none;
}

.play-again {
  display: block;
  width: 200px;
  height: 200px;
  background-color: lightsteelblue;
  font-weight: bold;
}

.register-score {
  width: 200px;
  height: 200px;
  background-color: lightsteelblue;
  font-weight: bold;
  margin-bottom: 10px;
}

.leaderboard {
  border: black 3px solid;
  width: 500px;
  height: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  display: none;
}

.initial-entry {
  width: 100px;
  height: 50px;
  background-color: lightsteelblue;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}
